<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Growth Videos</title>
    <link rel="stylesheet" href="{{url_for('static',filename='videos.css')}}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Plant Videos</h1>
            <button class="back-button" onclick="window.history.back();">Back</button>
        </header>
<center>
        <h2>Search for Plant Growth Videos</h2>
    </center>
        {% if videos %}
        <h3>Video Results:</h3>
        <ul>
            {% for video in videos %}
            <li class="video-item">
                <strong>{{ video.title }}</strong><br>
                <iframe width="400" height="250" src="https://www.youtube.com/embed/{{ video.videoId }}" frameborder="0"
                    allowfullscreen></iframe>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No videos found. Try a different search!</p>
        {% endif %}
    </div>
</body>

</html>
